@font-face {
	font-family: 'Poppins';
	font-weight: 400i;
	src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 400i;
	font-style: italic;
	src: url(./assets/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	src: url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: italic;
	src: url(./assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800i;
	src: url(./assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800i;
	font-style: italic;
	src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
}